In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data=pd.read_csv('seasonalityData.csv')

In [3]:
data

     Unnamed: 0  RoomsBooked
0    2015-07-01           64
1    2015-07-02           65
2    2015-07-03           13
3    2015-07-04           22
4    2015-07-05           12
5    2015-07-06           11
6    2015-07-07           12
7    2015-07-08           25
8    2015-07-09           25
9    2015-07-10            6
10   2015-07-11           37
11   2015-07-12           33
12   2015-07-13           32
13   2015-07-14            2
14   2015-07-15           22
15   2015-07-16           22
16   2015-07-17           55
17   2015-07-18           95
18   2015-07-19           40
19   2015-07-20           22
20   2015-07-21           15
21   2015-07-22           24
22   2015-07-23           59
23   2015-07-24            0
24   2015-07-25           56
25   2015-07-26           33
26   2015-07-27           57
27   2015-07-28           46
28   2015-07-29           19
29   2015-07-30           14
..          ...          ...
769  2017-08-08          224
770  2017-08-09          221
771  2017-08-10          221
772  2017-08-11          221
773  2017-08-12          223
774  2017-08-13          206
775  2017-08-14          221
776  2017-08-15          217
777  2017-08-16          220
778  2017-08-17          221
779  2017-08-18          222
780  2017-08-19          217
781  2017-08-20          220
782  2017-08-21          222
783  2017-08-22          221
784  2017-08-23          221
785  2017-08-24          220
786  2017-08-25          221
787  2017-08-26          222
788  2017-08-27          192
789  2017-08-28          212
790  2017-08-29          211
791  2017-08-30          202
792  2017-08-31          223
793  2017-09-01          114
794  2017-09-02           85
795  2017-09-03           35
796  2017-09-04            9
797  2017-09-05            7
798  2017-09-06            4

[799 rows x 2 columns]